{% load static %}
<nav class="xnavbar xnavbar-expand-lg xnavbar-light navbar-bg">
  <div class="container-fluid">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" id="menu_start" href="{% url 'index' %}"">Start</a>
      </li>
      <li class=" nav-item">
          <a class="nav-link" aria-current="page" id="menu_sted" href="{% url 'index' %}"">Tid og Sted</a>
      </li>
      <li class=" nav-item">
          <a class="nav-link" aria-current="page" id="menu_persons" href="/plan/persons">Deltagere</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" id="menu_plan" href="/plan/plan">SpillePlan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" id="menu_config" href="{% url 'index' %}">Indstillinger</a>
      </li>
    </ul>
  </div>
</nav>