{% load static %}
 <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'pic/logo.png' %}" alt="LOGO" width="30" height="30" xclass="d-inline-block align-text-top">&nbsp;Vejr</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav xme-auto mb-2 mb-lg-0 nav-tabs xnav-justified">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" id="menu_start" href="{% url 'index' %}"">Sted</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" id="menu_sted" href="{% url 'index' %}"">Sted2</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-tabs">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/plan/test">Test</a>
          </li>

         

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin/">Admin</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>