{% extends "base_menu.html" %}
{% load static %}

{% block content %}
<style>
    .background {
        width: 1291px;
        height: 672px;
        xbackground-color: yellow;
        background-image: url("{% static 'pic/dk.png' %}");
        border: yellow 1px solid;
    }
    .radar {
        position: relative;
        left:300px;
        top: 00px;
        z-index: 100;
        border: red 1px solid;
    }
    .img {
        border: green 1px solid;
    }
</style>

<h3>{{ title }}</h3>
<div>
    <div class="background">
        <div class="radar">
            {% comment %} <img src="/data/radar/radar1.png" alt="radar" class="img" height="673" width="814"> {% endcomment %}
            <img src="/data/radar/radar1.png" alt="radar" class="img" height="538" width="651">
        </div>
    </div>
    <img xsrc="{% static 'pic/dk.png' %}" alt="baggrund dk" height="672" width="1291">
</div>


{% endblock %}

{% block script %}
<script>
    $("#menu_start").addClass("active");
</script>
{% endblock %}